footer.footer 
	.container 
		.footer-top 
			.footer-column 
				a(href="index.html").footer-heading.footer-heading--logo MoGo 
				p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque a aliquam labore iusto eveniet dolor dolorem id possimus obcaecati quaerat aspernatur voluptatem expedita nemo excepturi nam consequuntur, nesciunt corporis sapiente.
				p.footer-follower <strong>15k</strong> followers 
				.footer-social 
					span Follow Us 
					.footer-social-list 
						a(href="#").footer-social-icon
							i.fab.fa-facebook
						a(href="#").footer-social-icon
							i.fab.fa-twitter
						a(href="#").footer-social-icon
							i.fab.fa-instagram
						a(href="#").footer-social-icon
							i.fab.fa-pinterest
						a(href="#").footer-social-icon
							i.fab.fa-youtube
				form.footer-form(action="javascript:void(0)")
					input.footer-form-input(type="email" placeholder="Your Email")
					button.footer-form-button Subcribe  
			.footer-column 
				h3.footer-heading Blogs 
				a(href="").footer-blog 
					img.footer-blog-image(src="././images/img-blogs1.png", alt="")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
						span.footer-blog-date jan 9, 2020
				a(href="").footer-blog 
					img.footer-blog-image(src="././images/img-blogs2.png", alt="")
					.footer-blog-info 
						h4.footer-blog-title Consectetur adipiscing elit, sed do eiusmod tempor
						span.footer-blog-date jan 9, 2020
				a(href="").footer-blog 
					img.footer-blog-image(src="././images/img-blogs3.png", alt="")
					.footer-blog-info 
						h4.footer-blog-title sed do eiusmod tempor incididunt ut labore
						span.footer-blog-date jan 9, 2020
			.footer-column 
				h3.footer-heading Instagram
				.footer-images
					.footer-image 
						img(src="././images/img-instagram1.png", alt="") 
					.footer-image 
						img(src="././images/img-instagram2.png", alt="") 
					.footer-image 
						img(src="././images/img-instagram1.png", alt="") 
					.footer-image 
						img(src="././images/img-instagram1.png", alt="") 
					.footer-image 
						img(src="././images/img-instagram1.png", alt="") 
					.footer-image 
						img(src="././images/img-instagram1.png", alt="") 
					.footer-image 
						img(src="././images/img-instagram1.png", alt="") 
					.footer-image 
						img(src="././images/img-instagram1.png", alt="") 
					.footer-image 
						img(src="././images/img-instagram1.png", alt="") 
				a(href="#").footer-images-more View more photos 
		.footer-bottom © 2016 MoGo free PSD template by <span>Laaqiq</span>