section.story 
	.container 
		+blockBox("Our stories","LATEST BLOG")
		ul.story-list 
			li.story-item 
				.story-media 
					.story-media-image
						img.story-image(src="././images/img-blog1.png", alt="")
					.story-date 
						span.story-date-number 15
						span.story-date-date Jan
				h3.story-title Lorem ipsum dolor sit amet
				p.story-desc Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.story-meta 
					.story-meta-item 
						i.fa.fa-eye.story-meta-icon
						span.story-meta-number 542
					.story-meta-item 
						i.fa.fa-comment.story-meta-icon
						span.story-meta-number 17
			li.story-item 
				.story-media 
					.story-media-image
						img.story-image(src="././images/img-blog2.png", alt="")
					.story-date 
						span.story-date-number 14
						span.story-date-date Jan
				h3.story-title Lorem ipsum dolor sit amet
				p.story-desc Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.story-meta 
					.story-meta-item 
						i.fa.fa-eye.story-meta-icon
						span.story-meta-number 997
					.story-meta-item 
						i.fa.fa-comment.story-meta-icon
						span.story-meta-number 42
			li.story-item 
				.story-media 
					.story-media-image
						img.story-image(src="././images/img-blog3.png", alt="")
					.story-date 
						span.story-date-number 12
						span.story-date-date Jan
				h3.story-title Lorem ipsum dolor sit amet consecteturesciunt  sit amet consecteturesciunt  sit amet consecteturesciunt 
				p.story-desc Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.story-meta 
					.story-meta-item 
						i.fa.fa-eye.story-meta-icon
						span.story-meta-number 1160
					.story-meta-item 
						i.fa.fa-comment.story-meta-icon
						span.story-meta-number 48
section.map 
	.container 
		.map-content 
			img.map-icon(src="././images/img-map-icon.png", alt="")
			h2.map-heading Open map