section.team 
	.container 
		+blockBox("Who are you","MEET OUT TEAM","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ")
		.team-list 
			+teamItem("././images/img-team1.png", "Matthew Dix", "Graphic Design")
				ul.team-social 
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-facebook-f
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-twitter
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-pinterest-p
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-instagram
			+teamItem("././images/img-team2.png", "Christopher Campbell", "Branding/UX design")
				ul.team-social 
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-facebook-f
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-twitter
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-instagram
			+teamItem("././images/img-team3.png", "Michael Fertig", "Developver")
				ul.team-social 
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-facebook-f
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-pinterest-p
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-instagram
section.brand
	.container 
		img(src="././images/img-logos.png", alt="Brands img")