.story {
    padding: 10rem 0;
    @include bg(white);

    &-list {
        @include flexBox(stretch, space-between, row, nowrap);
    }

    &-item {
        width: calc(33.33% - 2rem);
    }

    &-media {
        position: relative;
        margin-bottom: 2rem;
    }

    // &-media-image {
    //     overflow: hidden;
    // }

    &-image {
        @include size(100%, 24rem);
        object-fit: cover;
        cursor: pointer;
        // transition: all .25s linear;

        // &:hover {
        //     transform: scale(1.1, 1.1);
        // }
    }

    &-date {
        position: absolute;
        @include bg($third-color);
        padding: 1.5rem 2rem;
        @include flexBox(center, center, column);
        left: -1rem;
        bottom: 1rem;
        z-index: 2;

        &-number {
            font-weight: bold;
            font-size: 3rem;
            color: white;
        }

        &-date {
            color: $gray-light-color;
            font-weight: 300;
            font-family: $secondary-font;
            font-size: 1.5rem;
        }
    }

    &-title {
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 2rem;
        line-height: 1.4;
        font-size: 1.6rem;
        // text-align: justify;
        @include textClamp(2);
    }

    &-desc {
        color: $text-color;
        font-weight: 400;
        font-size: 1.4rem;
        font-style: normal;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-top: 1px solid #e5e5e5;
        line-height: 1.4;
    }

    &-meta {
        @include flexBox(stretch, flex-start, row, nowrap);

        &-item {
            margin-right: 2rem;
        }

        &-icon {
            color: $third-color;
            margin-right: .5rem;
        }

        &-number {
            color: $text-color;
            font-weight: 400;
            font-size: 1.4rem;
            font-style: normal;
        }
    }

    @include maxWidth(1023px) {
        padding: 5rem 0;

        &-image {
            height: 14rem;
        }

        &-date {
            padding: 1rem 1.5rem;
        }

        &-title {
            font-size: 1.2rem;
        }

        &-desc {
            padding: 0;
            border: 0;
            font-size: 1.3rem;
            @include textClamp(4);
        }
    }

    @include maxWidth(767px) {
        &-list {
            display: block;
        }

        &-item {
            width: 100%;
            margin-bottom: 7rem;
        }

        &-date {
            bottom: 5px;
            left: -5px;
        }

        &-image {
            height: auto;
        }
    }
}

.map {
    padding: 6rem 0;
    background: linear-gradient(to bottom, rgba(white, 0.7), rgba(white, 0.8)), url("../images/img-map.png") no-repeat center / cover;

    &-content {
        @include flexBox(center, center, column);
    }

    &-heading {
        position: relative;
        font-size: 2.4rem;
        font-weight: bold;
        color: $primary-color;
        padding-bottom: 2rem;
        text-transform: uppercase;
        margin-bottom: 2rem; 
        &::after {
            content: "";
            position: absolute;
            // width: 6rem;
            // height: .4rem;
            bottom: 0;
            @include size(6rem, 4px);
            @include bg($primary-color);
            @include absoluteCenter();
        }
    }
}
@include hoverimgEffect(".story-media-image");